#ddev-generated
datadir="/var/lib/proxysql"

admin_variables=
{
	admin_credentials="admin:admin;radmin:radmin"
	mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
    set_query_lock_on_hostgroup=0
	threads=4
	max_connections=2048
	default_query_delay=0
	default_query_timeout=36000000
	have_compress=true
	poll_timeout=2000
	interfaces="0.0.0.0:6033"
	default_schema="information_schema"
	stacksize=1048576
	server_version="5.5.30"
	connect_timeout_server=3000
	monitor_username="monitor"
	monitor_password="monitor"
	monitor_history=600000
	monitor_connect_interval=60000
	monitor_ping_interval=10000
	monitor_read_only_interval=1500
	monitor_read_only_timeout=500
	ping_interval_server_msec=120000
	ping_timeout_server=500
	commands_stats=true
	sessions_sort=true
	connect_retries_on_failure=10
	default_authentication_plugin="mysql_native_password"
}

mysql_servers =
(
    {
        address="db"
        port=3306
        hostgroup=1
        max_connections=200
    },
    {
        address="replica_1"
        port=3306
        hostgroup=2
        max_connections=200
    },
    {
        address="replica_2"
        port=3306
        hostgroup=2
        max_connections=200
    },
    {
        address="replica_canary"
        port=3306
        hostgroup=3
        max_connections=200
    }
)

mysql_users =
(
    {
        username="db"
        password="db"
        active=1
        default_hostgroup=2
        default_schema="db"
    },
    {
        username="canary"
        password="canary"
        active=1
        default_hostgroup=3
        default_schema="db"
    }
)
mysql_query_rules =
(
    {
        rule_id=10
        active=1
        match_pattern=".*(_+)temp"
        destination_hostgroup=3
        apply=1
        re_modifiers="CASELESS"
        username="canary"
    },
    {
        rule_id=11
        active=1
        match_pattern=".*TRIGGER"
        destination_hostgroup=3
        apply=1
        re_modifiers="CASELESS"
        username="canary"
    },
    {
        rule_id=13
        active=1
        match_pattern=".*TABLE"
        destination_hostgroup=3
        apply=1
        username="canary"
    },
    {
        rule_id=14
        active=1
        match_pattern="^SET"
        destination_hostgroup=3
        apply=1
        re_modifiers="CASELESS"
        username="canary"
    },
    {
        rule_id=15
        active=1
        match_pattern=".*INSERT INTO"
        destination_hostgroup=3
        apply=1
        re_modifiers="CASELESS"
        username="canary"
    },
    {
        rule_id=16
        active=1
        match_pattern=".*UPDATE.*SET"
        destination_hostgroup=3
        apply=1
        re_modifiers="CASELESS"
        username="canary"
    },
    {
        rule_id=17
        active=1
        match_pattern=".*ON DUPLICATE KEY UPDATE"
        destination_hostgroup=3
        apply=1
        re_modifiers="CASELESS"
        username="canary"
    },
    {
        rule_id=18
        active=1
        match_pattern=".*CREATE TABLE"
        destination_hostgroup=3
        apply=1
        re_modifiers="CASELESS"
        username="canary"
    },
    {
        rule_id=29
        active=1
        match_pattern=".*_template"
        destination_hostgroup=2
        apply=1
        re_modifiers="CASELESS"
    },
    {
        rule_id=20
        active=1
        match_pattern=".*(_+)temp"
        destination_hostgroup=1
        apply=1
        re_modifiers="CASELESS"
    },
    {
        rule_id=21
        active=1
        match_pattern=".*TRIGGER"
        destination_hostgroup=1
        apply=1
        re_modifiers="CASELESS"
    },
    {
        rule_id=22
        active=1
        match_pattern="^SHOW"
        destination_hostgroup=2
        apply=1
        re_modifiers="CASELESS"
    },
    {
        rule_id=23
        active=1
        match_pattern=".*TABLE"
        destination_hostgroup=1
        apply=1
    },
    {
        rule_id=24
        active=1
        match_pattern="^SET"
        destination_hostgroup=1
        apply=1
        re_modifiers="CASELESS"
    },
    {
        rule_id=25
        active=1
        match_pattern=".*INSERT INTO"
        destination_hostgroup=1
        apply=1
        re_modifiers="CASELESS"
    },
    {
        rule_id=26
        active=1
        match_pattern=".*UPDATE.*SET"
        destination_hostgroup=1
        apply=1
        re_modifiers="CASELESS"
    },
    {
        rule_id=27
        active=1
        match_pattern=".*ON DUPLICATE KEY UPDATE"
        destination_hostgroup=1
        apply=1
        re_modifiers="CASELESS"
    },
    {
        rule_id=40
        active=1
        match_pattern=".*CREATE TABLE"
        destination_hostgroup=1
        apply=1
        re_modifiers="CASELESS"
    },
    {
        rule_id=11
        active=1
        match_pattern="^DROP TRIGGER"
        destination_hostgroup=3
        apply=1
        username="canary"
    },
    {
        rule_id=12
        active=1
        match_pattern="^DROP TRIGGER"
        destination_hostgroup=1
        apply=1
    },
    {
        rule_id=13
        active=1
        match_pattern="^CREATE TRIGGER"
        destination_hostgroup=3
        apply=1
        username="canary"
    },
    {
        rule_id=14
        active=1
        match_pattern="^CREATE TRIGGER"
        destination_hostgroup=1
        apply=1
    }
)

